chrono {
  .chrono {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: transparent;
    display: flex;
    justify-content: center;
    pointer-events:none;
    color: white;
    text-shadow: 2px 2px 4px #000000;
  }
  .game-over{
    background: rgba(0, 0, 0, 0.5);
    pointer-events:auto;
  }
}
