page-help-game {
  .card {
    .code {
      font-family: NewGardiner, "Noto Sans", sans-serif;
      font-size: 1.6em;
    }
    .descr {
      font-family: "Noto Sans", sans-serif;
      text-align: center;
    }
  }
}
